body {
    background-image: url(/imgs/stars.gif);
    background-color: #181823 ;
}

h1 {
    color: #66BFBF;
}

h3 {
    color:#66BFBF;
}
hr {
    border-style: none;
    border-top-style: dotted;
    border-color: #537FE7;
    border-width: 5px;
    width: 10%;
    opacity: 0.6;
}

#logos {
    margin-left: 20%;
    margin-right: 10%;
}

#kicklogo1 {
    margin-left: 70%;
    width: 50%;
}

#tanalogo1 {
    margin-left: 20%;
    width: 20%;
}

#directories {
    text-align: center;
    width: 100%;
    font-family: monospace;
    font-size:x-large;
}

#CLIPS {
    border:#537FE7;
    border-style: solid;
}

#ARTWORK {
    border: #537FE7;
    border-style: solid;
}

#KICK-RESOURCES {
    border: #537FE7;
    border-style: solid;
}

#TWITCH {
    border: #537FE7;
    border-style: solid;
}

#KICKSTERS {
    border: #537FE7;
    border-style: solid;
}

#misc {
    border: #537FE7;
    border-style: solid;
}

a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: gray;
    background-color: transparent;
    text-decoration: none;
}

#artp {
    color: white;
    text-align: center;
    font-family: monospace;
    font-size: large;
}

#animatedlogo {
    width: 10%;
    margin-left: 45%;
}

#twitch-embed {
    float: left;
    margin-right: 40px;
}

#twitch-embed1 {
    float: left;
}

#names {
    color: white;
    text-indent: 9.5%;
    font-family: monospace;
    font-size: xx-large;
}

#paltext {
    text-indent:24%;
}

#gridbanner {
    margin-right: 13%;
}

#atombanner {
    width: 60%;
    opacity: 0.3;
    margin-left: 20.5%;
    margin-top: 80%;
    margin-bottom: auto;
}

#t-friendlinks {
    text-align: center;
}

#twitch-embed2 {
    float: left;
    margin-left: 23px;
}

#butchtxt {
    text-indent: 21%;
}

#kick-stream {
    display: block;
    margin-left:auto;
    margin-right:auto;
    margin-top: 25px;
    width: ;
}

#thanks {
    color: white;
    text-align: center;
    font-family: monospace;
    font-size: xx-large;
}

#butchbanner {
    margin-left: 25px;
}

#artnames {
    font-family: monospace;
    color: white;
    font-size: x-large;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#way2art {
    width: 40%;
    margin-left: 31%;
}

#profitztv {
    width: 200px;
    height: 200px;
    margin-right: 70%;
}

